{% extends 'base.html.twig' %}

{% block title %}Guepar > Sirene{% endblock %}

{% block body %}
    <h1>Recherche dans la base de données gouvernementale</h1>

    <div class="container-fluid">
        {{ form_start(formRecherche) }}
        {# critere #}
        <div id="divCritere" class="row">
            <label class="col-2">&nbsp;</label>
            <div class="col-3">
                {{ form_widget(formRecherche.critere) }}
            </div>
            <div class="col">
                <input type="image" src="/images/ico-recherche.png" id="btnRecherche" class="ico-recherche">
            </div>
        </div>
        <div id="divLoading" class="row">
            <div class="col img-loading"></div>
        </div>
        {{ form_end(formRecherche) }}

        {% include 'sirene/navigation.html.twig' %}

        {# resultats en cas de recherche sur code siren #}
        <div id="divResultats" class="row">
            <label class="col-2">Base gouvernementale :</label>
            <div id="divBaseSirene" class="col">
{# exemples de test
                {{ render(controller('App\\Controller\\SireneController::resultatRecherche')) }}
                {{ render(controller('App\\Controller\\SireneController::resultatRecherche', {'codeSiren':'791604697'})) }}
                {{ render(controller('App\\Controller\\SireneController::resultatRecherche', {'codeSiren':'781092036'})) }}
#}
            </div>
        </div>    

        {# Résultat en cas de recherche sur libellé #}
        {# Fenêtre modale #}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">test</button>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Entreprises répondant au critère</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
{#                    {{ render(controller('App\\Controller\\SireneController::resultatRecherche', {'codeSiren':'Polymont'})) }}
#}                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
        {% include 'sirene/navigation.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(".img-loading").hide();
        $(function() {
            $("#frmSirene").submit(function(e){
                $(".img-loading").show();
                e.preventDefault();
                var sireneCritere = $("#sirene_critere").val().replace(/ /g,"");
                if (!isNaN(sireneCritere) && sireneCritere.length > 8){
                    sireneCritere = sireneCritere.substr(0,9);
                    var destURL = "/sirene/result/"+sireneCritere;
                    $('#divBaseSirene').load(destURL, function(response, status, xhr){
                        if ( status == "error" ) {
                            var msgError = "Désolé, une erreur s'est produite : " + xhr.status + " " + xhr.statusText;
                            $('#divBaseSirene').html(msgError);
                        }
                        $(".img-loading").hide();
                        });
                } else {
                    $('#divBaseSirene').html("Critère autre que code siren");
                    $(".img-loading").hide();
                }
                return true;
            });
        })
    </script>
{% endblock %}