{% extends 'base.html.twig' %}

{% block title %}Guepar > Sirene{% endblock %}

{% block body %}
    <h1>Recherche dans la base de données gouvernementale</h1>

    <div class="container-fluid">
        {{ form_start(formRecherche) }}
        {# critere #}
        <div id="divCritere" class="row">
            <label class="col-2">&nbsp;</label>
            <div class="col-3">
                {{ form_widget(formRecherche.critere) }}
            </div>
            <div class="col">
                <input type="image" src="/images/ico-recherche.png" id="btnRecherche" class="ico-recherche">
            </div>
        </div>
        <div id="divLoading" class="row">
            <div class="col img-loading"></div>
        </div>
        {{ form_end(formRecherche) }}

        {% include 'sirene/navigation.html.twig' %}
        {# resultats #}
        <div id="divResultats" class="row">
            <label class="col-2">Base gouvernementale :</label>
            <div id="divBaseSirene" class="col">
{# exemples de test
                {{ render(controller('App\\Controller\\SireneController::resultatRecherche')) }}
                {{ render(controller('App\\Controller\\SireneController::resultatRecherche', {'critere':'791604697'})) }}
                {{ render(controller('App\\Controller\\SireneController::resultatRecherche', {'critere':'781092036'})) }}
#}
            </div>
        </div>    

        {% include 'sirene/navigation.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(".img-loading").hide();
        $(function() {
            $("#frmSirene").submit(function(e){
                $(".img-loading").show();
                e.preventDefault();
                var sireneCritere = $("#sirene_critere").val().replace(/ /g,"");
                if (!isNaN(sireneCritere) && sireneCritere.length > 8){
                    sireneCritere = sireneCritere.substr(0,9);
                    var destURL = "/sirene/result/"+sireneCritere;
                    $('#divBaseSirene').load(destURL, function(response, status, xhr){
                        if ( status == "error" ) {
                            var msgError = "Désolé, une erreur s'est produite : " + xhr.status + " " + xhr.statusText;
                            $('#divBaseSirene').html(msgError);
                        }
                        $(".img-loading").hide();
                        });
                } else {
                    $('#divBaseSirene').html("Critère autre que code siren");
                    $(".img-loading").hide();
                }
                return true;
            });
        })
    </script>
{% endblock %}