{% extends 'base.html.twig' %}

{% block title %}Guepar > Entreprises{% endblock %}

{% block body %}
    <h1>Entreprise : Détail</h1>

    {{ form_start(formDetail) }}

    <div class="container-fluid">
        {% include 'entreprise/navigation.html.twig' %}

        {# CodeSiren #}
        <div id="divCodeSiren" class="row">
            <label class="col-2">Code Siren :</label>
            <div class="col">
                {{ form_widget(formDetail.codeSiren) }}
            </div>
        </div>

        {# Nom #}
        <div id="divNom" class="row">
            <label class="col-2">Entreprise :</label>
            <div class="col">
                {{ form_row(formDetail.nom) }}
            </div>
        </div>

        {# Documents #}
        <div id="divDocuments" class="row">
            <label class="col-2">Documents :</label>
            <div class="col">
                <ul class="ulDocuments"  data-prototype="{{ form_widget(formDetail.documents.vars.prototype)|e('html_attr') }}">
                    {% for document in formDetail.documents %}
                        <li>
                            {{ form_row(document.categorie) }}
                            {{ form_row(document.documentName) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {# Contacts #}
        <div id="divContacts" class="row">
            <label class="col-2">Contacts :</label>
            <div class="col">
                <ul class="ulContacts"  data-prototype="{{ form_widget(formDetail.contacts.vars.prototype)|e('html_attr') }}">
                    {% for contact in formDetail.contacts %}
                        <li>
                            {{ form_row(contact.civilite) }}
                            {{ form_row(contact.nom) }}
                            {{ form_row(contact.prenom) }}
                            {{ form_row(contact.fonction) }}
                            {{ form_row(contact.email) }}
                            {{ form_row(contact.telephone) }}
                            {{ form_row(contact.notes) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    
        {# ConventionCollective #}
        <div id="divConventionCollective" class="row">
            {# ConventionCollective #}
            <label class="col-2">Convention collective :</label>
            <div class="col">
                {{ form_row(formDetail.conventionCollective) }}
            </div>
        </div>

        {# trancheEffectifs #}
        <div id="divTrancheEffectif" class="row">
            <label class="col-2">Tranche d'effectifs :</label>
            <div class="col">
                {{ form_row(formDetail.trancheEffectifs) }}
            </div>
        </div>

        {# NbAdherents #}
        <div id="divNbAdherents" class="row">
            <label class="col-2">Nombre d'adhérents :</label>
            <div class="col">
                {{ form_row(formDetail.nbAdherents) }}
            </div>
        </div>

        {# Notes #}
        <div id="divNotes" class="row">
            <label class="col-2">Notes :</label>
            <div class="col">
                {{ form_row(formDetail.notes) }}
            </div>
        </div>
            
        {% include 'entreprise/navigation.html.twig' %}
    </div>
    {{ form_end(formDetail) }}
{% endblock %}

{% block javascripts %}
    <script>
        var nomEcran = "entreprise";
    </script>
    <script type="text/javascript" src="/javascript/guepar-contacts.js"></script>
    <script type="text/javascript" src="/javascript/guepar-documents.js"></script>
{% endblock %}