{% extends 'base.html.twig' %}

{% block title %}Guepar > Entreprises{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
        1 of 2
        </div>
        <div class="col">
        2 of 2
        </div>
    </div>
    <div class="row">
        <div class="col">
        1 of 3
        </div>
        <div class="col">
        2 of 3
        </div>
        <div class="col">
        3 of 3
        </div>
    </div>
</div>

    <h1>Entreprise : Détail</h1>
    {{ form_start(formDetail) }}
    <div class="container-fluid">
        {% include 'entreprise/navigation.html.twig' %}

        <div class="row">
            {# CodeSiren #}
            <div id="divCodeSiren">
                <label class="col">Code Siren :</label>
                <div class="col">
                    {{ form_widget(formDetail.codeSiren) }}
                </div>
            </div>
        </div>
        <div class="row">

            {# Nom #}
            <div class="col-sm-12">
                <div id="divNom" class="form-group">
                    {{ form_row(formDetail.nom) }}
                </div>
            </div>

            {# Contacts #}
            <div class="col-sm-12">
                    <div id="divContacts" class="form-group">
                        <ul class="ulContacts">
                            {% for contact in formDetail.contacts %}
                                <li>
                                    {{ form_row(formDetail.contact.civilite) }}
                                    {{ form_row(formDetail.contact.nom) }}
                                    {{ form_row(formDetail.contact.prenom) }}
                                    {{ form_row(formDetail.contact.fonction) }}
                                    {{ form_row(formDetail.contact.email) }}
                                    {{ form_row(formDetail.contact.telephone) }}
                                    {{ form_row(formDetail.contact.notes) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
    
            {# ConventionCollective #}
            <div class="col-sm-12">
                <div id="divConventionCollective" class="form-group">
                    {{ form_row(formDetail.conventionCollective) }}
                </div>
            </div>

            {# trancheEffectifs #}
            <div class="col-sm-12">
                <div id="divTrancheEffectif" class="form-group">
                    {{ form_row(formDetail.trancheEffectifs) }}
                </div>
            </div>

            {# NbAdherents #}
            <div class="col-sm-12">
                <div id="divNbAdherents" class="form-group">
                    {{ form_row(formDetail.nbAdherents) }}
                </div>
            </div>

            {# Notes #}
            <div class="col-sm-12">
                <div id="divNotes" class="form-group">
                    {{ form_row(formDetail.notes) }}
                </div>
            </div>
        </div>
            
        {% include 'entreprise/navigation.html.twig' %}
    </div>
    {{ form_end(formDetail) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/javascript/gepar-documents.js"></script>
    <script>
        var nomEcran = "entreprise";
    </script>
    <script type="text/javascript" src="/javascript/gepar-contacts.js"></script>
{% endblock %}