{% for sirene in sirenes %}
    {% if loop.first %}
        <table border='1'>
        <tr>
            <th>&nbsp;</th>
            <th>Code siren</th>
            <th>Dénomination</th>
            <th>Activité principale</th>
            <th>Adresse du siège</th>
            <th>Statut</th>
            <th>Individuelle</th>
            <th>Etab.<br/>actifs</th>
            <th>Etab.<br/>fermés</th>
        </tr>
    {% endif %}
    <tr class="ligneEntreprise" data-statut="{{ sirene.uniteLegale.statut }}" 
                                data-individuelle="{{ sirene.individuelle }}"
                                data-etsactifs="{{ sirene.nbEtablissementsActifs }}"
                                >
        <td>
            <button  type="button" class="btn btn-primary btnChoix" data-siren="{{ sirene.codeSiren }}">Sélectionner</button>
        </td>
        <td>
            {{ sirene.codeSiren }}
        </td>
        <td>
            {{ sirene.uniteLegale.denomination }}
        </td>
        <td>
            {{sirene.uniteLegale.activitePrincipale }}
        </td>
        <td>
            {{ sirene.adresseSiege | adresse | raw }}
        </td>
        <td>
            {{ sirene.uniteLegale.statut | statutUniteLegale }}
        </td>
        <td>
            {{ sirene.individuelle | individuelle}}
        </td>
        <td>
            {{ sirene.nbEtablissementsActifs }}
        </td>
        <td>
            {{ sirene.nbEtablissementsFermés }}
        </td>
    </tr>
    {% if loop.last %}
        </table>
    {% endif %}
{% endfor %}
 
{#
<div id="divJson" class="row">
    <label class="col-2">json :</label>
    <div class="col">
        {{ json }}
    </div>
</div>

<div id="divSession" class="row">
    <label class="col-2">Session->codeSiren</label>
    <div class="col">
        {{ codeSiren }}
    </div>
</div>
#}

<script>
    $(function() {
        $(".btnChoix").click(function(){
            var codeSiren = $(this).data('siren');
            refreshEntreprise(codeSiren)
            $('#modalListeSirene').modal('hide');
        });
    })
</script>