{% for sirene in sirenes %}
    {% if loop.first %}
        <table border='1'>
        <tr>
            <th>&nbsp;</th>
            <th>Code siren</th>
            <th>Dénomination</th>
            <th>Activité principale</th>
            <th>Adresse du siège</th>
            <th>Etab.<br/>actifs</th>
            <th>Etab.<br/>fermés</th>
        </tr>
    {% endif %}
    <tr>
        <td>
            <button  type="button" class="btn btn-primary btnChoix" data-dismiss="modal" data-siren="{{ sirene.codeSiren }}">Sélectionner</button>
        </td>
        <td>
            {{ sirene.codeSiren }}
        </td>
        <td>
            {{ sirene.uniteLegale.denomination }}
        </td>
        <td>
            {{sirene.uniteLegale.activitePrincipale }}
        </td>
        <td>
            {{ sirene.adresseSiege.complementAdresse }}
            <br/>{{ sirene.adresseSiege.numeroVoie }}{{ sirene.adresseSiege.indiceRepetition }} {{ sirene.adresseSiege.typeVoie }} {{ sirene.adresseSiege.libelleVoie }}
            <br/>{{ sirene.adresseSiege.codePostal }} {{ sirene.adresseSiege.libelleCommune }} {{ sirene.adresseSiege.codeCedex }} {{ sirene.adresseSiege.libelleCedex }}
            {% if sirene.adresseSiege.codePaysEtranger != null %}
                <br/>{{ sirene.adresseSiege.libellePaysEtranger }}
            {% endif %}
        </td>
        <td>
            {{ sirene.nbEtablissementsActifs }}
        </td>
        <td>
            {{ sirene.nbEtablissementsFermés }}
        </td>
    </tr>
    {% if loop.last %}
        </table>
    {% endif %}
{% endfor %}
 
{#
<div id="divJson" class="row">
    <label class="col-2">json :</label>
    <div class="col">
        {{ json }}
    </div>
</div>

<div id="divSession" class="row">
    <label class="col-2">Session->codeSiren</label>
    <div class="col">
        {{ codeSiren }}
    </div>
</div>
#}

<script>
    $(function() {
        $(".btnChoix").click(function(e){
            alert($this.data('siren'));
        });
    })
</script>